<!-- //////////////////////////// Clients ///////////////////////////// -->
<br>
<div class="container-fluid">
    <a class="btn btn-primary"
       style="white-space: nowrap"
       href="/clients/new">New Client</a>
</div>
<br>
<div class="container-fluid">

    <table class="table table-striped">
        <thead>
        <tr class="text-left">
            <th scope="col">Client ID</th>
            <!--            <th scope="col">Client Secret</th>-->
            <th scope="col" title="A comma-separated list of grants.">Grant Types</th>
            <th scope="col" title="A comma-separated list of scopes.">Scopes</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-left" th:each="client : ${clients}">
            <td th:text="${client.clientId}"></td>
            <!--            <td th:text="${client.clientSecret}"></td>-->
            <td th:text="${client.grantTypes}"></td>
            <td th:text="${client.scopes}"></td>
            <td>
                <a class="btn btn-primary"
                   style="white-space: nowrap"
                   th:href="'/clients/' + ${client.id}"
                   th:text="Edit"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
