<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script src="/webjars/stimulus/2.0.0/dist/stimulus.umd.js"></script>
    <script>
        (() => {
            const application = Stimulus.Application.start()

            application.register("loader", class extends Stimulus.Controller {
                static get targets() { return [ "name" ] }
                static values = { url: String }

                connect() {
                    this.load();
                }

                load() {
                    fetch(this.urlValue)
                        .then(response => response.text())
                        .then(html => this.element.innerHTML = html)
                }
            })
        })()
    </script>
    <title>Home</title>
</head>
<body>
<div data-controller="loader" data-loader-url-value="/stimulus/header"></div>
<div data-controller="loader" data-loader-url-value="/stimulus/users"></div>
<div data-controller="loader" data-loader-url-value="/stimulus/clients"></div>

</body>
</html>
