<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='/webjars/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>

    <meta charset="UTF-8">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header (username, logged)">
    <a class="navbar-brand" href="/">Rudimentary Spring Authorization Server UI</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a th:text="${username}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Username
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" target="_blank" href="/logs">View Logs</a>
                    <a class="dropdown-item" href="/profile/password">Change password</a>
                    <div class="dropdown-divider"></div>
                    <form th:if="${logged}" action="/logout"
                          method="post">
                        <input class="dropdown-item" type="submit"
                               value="Logout" />
                        <input type="hidden"
                               th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}"/>
                    </form>
                    <div class="dropdown-item">
                        <a th:unless="${logged}" class="btn-link" href="/login">Login</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
