<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href='webjars/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <script src="/webjars/stimulus/2.0.0/dist/stimulus.umd.js"></script>
    <script>
        (() => {
            const application = Stimulus.Application.start()

            application.register("loader", class extends Stimulus.Controller {
                static get targets() { return [ "name" ] }
                static values = { url: String }

                connect() {
                    this.load();
                }

                load() {
                    fetch(this.urlValue)
                        .then(response => response.text())
                        .then(html => this.element.innerHTML = html)
                }
            })
        })()
    </script>
    <title>Spring Auth Server</title>
</head>
<body>
<div data-controller="loader" data-loader-url-value="/stimulus/header"></div>
<div data-controller="loader" data-loader-url-value="/stimulus/users"></div>
<div data-controller="loader" data-loader-url-value="/stimulus/clients"></div>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.3/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/webjars/bootstrap-table/1.16.0/bootstrap-table.min.js"></script>
</body>
</html>
