<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='/webjars/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/webjars/font-awesome/5.14.0/css/all.css">

    <meta charset="UTF-8">
    <title>User Password Change</title>
</head>
<body>

<div th:replace="fragments/header :: header (${username}, ${logged})"></div>
<br>
<div class="alert alert-warning" role="alert">
    Type in your current password and your new password (twice) and submit.
</div>
<div class="container" id="page">
    <form th:object="${passwordChange}" th:method="post">
        <br>
        <input type="hidden" name="username" autocomplete="username" th:value="${username}"/>

        <div class="form-group row">
            <label for="currentPassword" class="col col-sm-4">Current password</label>
            <input th:field="*{currentPassword}" class="form-control col-sm-8" id="currentPassword"
                   placeholder="Senha atual" type="password" autocomplete="current-password" maxlength="60"/>
        </div>
        <div class="form-group row">
            <label for="newPassword" class="col col-sm-4">New password</label>
            <input th:field="*{newPassword}" class="form-control col-sm-8" id="newPassword"
                   placeholder="New password" type="password" autocomplete="new-password" maxlength="60"/>
        </div>
        <div class="form-group row">
            <label for="newPasswordConfirmation" class="col col-sm-4">New password (again)</label>
            <input th:field="*{newPasswordConfirmation}" class="form-control col-sm-8" id="newPasswordConfirmation"
                   placeholder="New password (again)" type="password" autocomplete="new-password" maxlength="60"/>
        </div>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div th:if="${#fields.errors('*').size()}">
            <div class="form-group alert alert-warning" th:each="err : ${#fields.errors('*')}">
                <span th:text="${err}">Descrição de um erro</span>
            </div>
        </div>

        <div class="form-group">
            <div class="float-md-none">
                <button class=" btn btn-primary" type="submit">Save</button>
                <a class="btn btn-secondary" href="/">Cancel</a>
            </div>
        </div>
    </form>
</div>
<br>
<div class="container-fluid" id="footer">
    <br><hr><br>
</div>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.3/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
